*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --dark: #1a1a1a;
    --red: rgb(253, 46, 46);
}
body{
    background-color: black;
}
.container{
    display: flex;
    justify-content: space-around;
}
#side{
    width: 300px;
    height: 700px;
    background-color: var(--dark);
    border-radius: 20px;
    margin-top: 25px;
    float: left;
}
.section-1{
    width: 1100px;
    height: 700px;
    background-color: var(--dark);
    border-radius: 20px;
    margin-top: 25px;
  
}
.photo{
    border-radius: 50%; 
    /* padding-left: 50px; */
}
li::marker{
    color: #ffdb70;
    
}
::placeholder {
    color: azure;
    opacity: 1; /* Firefox */
    font-size: 15px;
}
#animi{
    animation: slideLeft .5s ease forwards;
    animation-direction: alternate;
}
@keyframes slideLeft{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.inputs{
  
}
  
/* cards*/
.center {
    display: flex;
    /* height: 100vh; */
    /* align-items: center; */
    /* justify-content: center; */
    margin: 20px;

  }
  .article-card {
    width: 300px;
    height: 220px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 300ms;
  }
  
  .article-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 28px #ffdb70, 0 10px 10px #ffdb70;
  }
  
  .article-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .article-card .content {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    padding: 30px 20px 20px 20px;
    height: auto;
    bottom: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
  }
  
  .article-card .date,
  .article-card .title {
    margin: 0;
  }
  
  .article-card .date {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 4px;
  }
  
  .article-card .title {
    font-size: 17px;
    color: #fff;
  }
  

  /* media Query for 750px*/
  @media screen and (max-width:750px){
    /*Section-1*/
    .section-1{
      width: 300px;
    }
    .container-p{
      display: none;
    }
    .container-logos{
      display: flex;
      flex-wrap: wrap;
    }
    /*Section-2*/
    .cards-op{
      display: flex;
      flex-wrap: wrap;
    }
    .article-card{
      width: 250px;
      height: 150px;
    }
     /*Section-3*/
    .section3-skills{
      display: flex;
      flex-wrap:wrap;
    }
    /*Section-4*/
    .map{
      display: none;
    }
    .inputs{
      width: 100px;

    }
  }